---
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout>
	<div class=" text-xl">Sphinx of black quartz, judge my vow.</div>
	<div class="text-xl">Sphinx of black quartz, judge my vow.</div>
</BaseLayout>
