---
import { Image } from "astro:assets";
import logo from "@/assets/ksm-avatar/ksm_90x90.jpg";
import ThemeToggle from "./ThemeToggle.astro";
const navs = [
    {
        title: "Home",
        href: "/",
    },
    {
        title: "Posts",
        href: "/posts",
    },
    {
        title: "About",
        href: "/about",
    },
];
---

<header>
    <div class="header-content">
        <a href="/">
            <Image
                quality="max"
                src={logo}
                alt="ksm"
                class="logo"
                loading="eager"
            />
        </a>
        <nav class="top-nav">
            {
                navs.map(({ title, href }) => (
                    <a href={href} class="hover:text-theme">
                        {title}
                    </a>
                ))
            }
            <ThemeToggle />
        </nav>
    </div>
</header>

<style>
    @reference "@/styles/global.css";
    header {
        @apply w-full fixed top-0 left-0  z-10  backdrop-blur-lg;
    }
    .header-content {
        @apply w-full max-w-3xl mx-auto flex justify-between items-center h-(--height-header) border-b border-muted;
    }
    .logo {
        @apply rounded-xl w-[48px] h-[48px];
    }
    .top-nav {
        @apply flex gap-4 font-bold;
    }
</style>
