---
import Header from "@/components/Header.astro";
import "@/styles/global.css";
import "@/styles/markdown-styles.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content="A personal page of kasumi.">
		<link rel="icon" type="image/svg+xml" href="/favicon.jpg" />
		<link
			rel="preload"
			as="font"
			type="font/woff2"
			href="/fonts/poppins-latin-400-normal.woff2"
			crossorigin="anonymous"
		/>
		<link
			rel="preload"
			as="font"
			type="font/woff2"
			href="/fonts/dancing-script-latin-400-normal.woff2"
			crossorigin="anonymous"
		/>
		<meta name="generator" content={Astro.generator} />
		<title>夏霞</title>
		<style></style>
	</head>
	<body>
		<Header />
		<div class="container">
			<main>
				<slot />
			</main>
			<footer>
				<div class="text-gray-500">&copy; All Rights reserved by Kasumi-orz</div>
			</footer>
		</div>
	</body>
</html>

<style>
	@reference "@/styles/global.css";
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
	body {
		@apply font-poppins pt-(--height-header);
	}
	.container {
		@apply max-w-3xl w-full mx-auto flex flex-col;
	}
	main {
		@apply min-h-[calc(100vh-var(--height-header))];
	}
	footer {
		@apply py-8;
	}
</style>
